html {
  overflow-y:scroll;
}
.container{
  margin-right: initial;
  margin-left: initial;
 }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  display:none;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 2px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*                  for console               */


.main-section{
  padding-left: 30px;
  padding-right: 30px;
}

.console{
  display:block;
  background-color:white;
}
.log{
  color:blue;
}
.info{
  color:blue;
}
.error{
  color:rgb(252, 4, 4);
}
.warning{
  color:orange;
}

.testcontroller{
 display: inline;
padding-left: 2px;
}
.testcontroller .controls{
  width: 40px;
  padding: 2px 5px;
  text-align: center;
  border: 1px solid;

  border-radius: 15px;
  margin-left: 5px;
  color: rgb(85, 85, 85);

}

.testcontroller .controls:hover,
.testcontroller .controls:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(77, 144, 254);
  border-color: rgb(48, 121, 237);
}
.save{
  float: right;
  color: inherit !important;
  text-decoration: underline;
  cursor: pointer;
}

.testcontroller  a{
/*color:#1B23EC;*/
color:rgb(85, 85, 85);

}

.testcontroller .testform{
  display:none;

}

.testcontroller .testform .formTestinput{
  width:100%
}

#testCaseFile{
  background-color: white;
border: 1px solid #999;;
border-radius: 10px;
}

.deleteTestHeader{
  display:none;
}
.btn-primary {
  background-color: rgb(77, 144, 254);
  border-color: rgb(48, 121, 237);
}
.panel-primary{

  border-color: rgb(48, 121, 237);
}

.panel-primary>.panel-heading{
  background-color: rgb(77, 144, 254);
  border-color: rgb(48, 121, 237);
}
.progress{
  display: none;
  background: url(/progress.gif) no-repeat 53% 0px;
  background-size: 93px 80px;
  height: 80px;

}
.consoleViewContainer{

}
.consoleView{
  height: 251px;
overflow-y: auto;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.testPass{
  color:rgb(29, 205, 10)!important;
  font-weight: 600;
}
.testFail{
    color:rgb(252, 4, 4)!important;
    font-weight: 600;

}

@-webkit-keyframes  testInprogress {

    from{  text-decoration: underline;color:#1B23EC!important;}
    to{  text-decoration: none;  color:rgb(85, 85, 85);}

}
.testInprogress{

    text-decoration: underline;
    color:#1B23EC!important;;
    font-weight: 600;


    -webkit-animation-name: testInprogress; /* Chrome, Safari, Opera */
   -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
   -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */

}
.testName{
  text-decoration: underline;
}


a.itooltip {outline:none; }
a.itooltip strong {line-height:30px;}
a.itooltip:hover {text-decoration:none;}
a.itooltip div {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
    -webkit-transition: display 5s; /* Safari */
    -webkit-transition-delay: 5s; /* Safari */
    transition: display 5s;
    transition-delay: 5s;
}
a.itooltip:hover div{
    display:inline; position:absolute; }
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}

/*CSS3 extras*/
a.itooltip div
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
a.itooltip div h6{
  text-overflow: ellipsis;
  text-align: justify;
  overflow-x: hidden;
}

a.itooltip .testDesc{
  text-overflow: ellipsis;
  text-align: justify;
  overflow-x: hidden;
}

.rawParam{
  width: 100%;
height: 150px;
}
