html {
  overflow-y:scroll;
}
.container{
  margin-right: initial;
  margin-left: initial;
 }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  display:none;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 2px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*                  for console               */

.console{
  display:block;
  background-color:white;
}
.log{
  color:blue;
}
.info{
  color:blue;
}
.error{
  color:red;
}
.warning{
  color:orange;
}

.testcontroller{
 display: inline;
padding-left: 2px;
}
.testcontroller .controls{
  width: 40px;
  padding: 2px 5px;
  text-align: center;
  border: 1px solid;
  border-color: #999;
  border-radius: 15px;
  margin-left: 5px;

}

.testcontroller .testform{
  display:none;

}

.testcontroller .testform .formTestinput{
  width:100%
}

#testCaseFile{
  background-color: white;
border: 1px solid #999;;
border-radius: 10px;
}

.deleteTestHeader{
  display:none;
}
